@model CreateDepartmentDTO
@{
    ViewData["Title"] = "Update";
}

<h1>Update Department</h1>
<br />
<br />

<form asp-action="Update">
    
    <partial name="Department_Partial_View/_CreateUpdate_PartialView" model="Model" />

    <div >
        <input type ="submit" value="Save" class="btn-primary"/>
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </div>

</form>

@section ClientSideValidation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}