@model Department
@{
    ViewData["Title"] = "Update";
}

<h1>Update Department</h1>
<br />
<br />

<form asp-action="Update">
    <div class="my-3">
        <label asp-for="Code" class="form-label"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="CreatedDate" class="form-label"></label>
        <input asp-for="CreatedDate" class="form-control" />
        <span asp-validation-for="CreatedDate" class="text-danger"></span>
    </div>

    <div >
        <input type ="submit" value="Save" class="btn-primary"/>
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </div>

</form>

@section ClientSideValidation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}