@model CreateEmployeeDTO
@{
    ViewData["Title"] = "Create";
}

<h1>Create Employee</h1>
<br />
<br />

<form asp-action="Create" >
<div class="form-group">
        <partial name="Employee_PartialView/_CreateUpdate_PartialView" model="Model" />

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section ClientSideValidation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}