@model CreateEmployeeDTO
@{
    ViewData["Title"] = "Update";
}

<h1>Update Employee</h1>

<br />
<br />

<div>
<form asp-action="Update">

        <partial name="Employee_PartialView/_CreateUpdate_PartialView" model="Model" />
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </div>
</form>
</div>
@section ClientSideValidation{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}